.kalenteri {
  font-family: Helvetica, sans-serif;
  max-width: 1200px;
}

.kalenteri-controls a, .kalenteri-controls span {
  display: inline-block;
  text-align: center;
}

.kalenteri-controls a {
  width: calc(100% / 7);
  padding: 10px 0;
  cursor: pointer;
  font-size: 20px
}

.kalenteri-controls span {
  width: calc(100% / 1.4);
}

.kalenteri-head-day, .kalenteri-head-month {
  display: inline-block;
  text-align: center;
  font-size: 13px;
}

.kalenteri-head-month {
  display: none;
  width: calc(100% / 12);
  padding: 5px 0;
}

.kalenteri-head-month:hover {
  cursor: pointer;
  background: #eee;
}

.kalenteri-head-day {
  width: calc(100% / 7);
  font-size: 14px;
  padding: 5px 0;
  border-top: 1px solid #ddd;
}

.kalenteri-head-active {
  font-size: 16px;
  font-weight: bold;
}

.kalenteri-day {
  width: calc(100% / 7);
  display: inline-block;
  box-sizing: border-box;
  padding: 2% 0;

  text-align: center;
  border: 1px solid #ddd;
  background: #eee;
  color: black;
}

.kalenteri-day:hover {
  background: #ddd;
  cursor: pointer;
}

.kalenteri-day-selected {
  background: #ddd;
}

.kalenteri-day-selected:hover {
  background: #ccc;
}

.kalenteri-day-prev-month, .kalenteri-day-next-month {
  background: white;
  color: grey;
}

.kalenteri-day-prev-month:hover, .kalenteri-day-next-month:hover {
  background: #fafafa;
}

.kalenteri-day-prev-month.kalenteri-day-selected, .kalenteri-day-next-month.kalenteri-day-selected {
  background: #eee;
}

@media(min-width: 500px) {
  .kalenteri-controls {
    display: none;
  }
  .kalenteri-head-month {
    display: inline-block;
  }
  .kalenteri-head-day {
    font-size: 16px;
    padding: 10px 0;
  }
}
